DistributedCache_Put-Fetch_example.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description></description>
  <groupId>016ccfde-015a-1000-95c4-d82dda5e14e0</groupId>
  <name>DistributedCache Put/Fetch example</name>
  <snippet>
    <processGroups>
      <id>36bf253f-015a-1000-0000-000000000000</id>
      <parentGroupId>016ccfde-015a-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>015a1001-3219-16c0-0000-000000000000</id>
          <parentGroupId>36bf253f-015a-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>36bf253f-015a-1000-0000-000000000000</groupId>
            <id>36c074e8-015a-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>36bf253f-015a-1000-0000-000000000000</groupId>
            <id>015a1000-3219-16c0-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>015a1002-3219-16c0-0000-000000000000</id>
          <parentGroupId>36bf253f-015a-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>36bf253f-015a-1000-0000-000000000000</groupId>
            <id>36c08c68-015a-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>36bf253f-015a-1000-0000-000000000000</groupId>
            <id>36c074e8-015a-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>36c0450a-015a-1000-0000-000000000000</id>
          <parentGroupId>36bf253f-015a-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>36bf253f-015a-1000-0000-000000000000</groupId>
            <id>36bfa7fc-015a-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>36bf253f-015a-1000-0000-000000000000</groupId>
            <id>36c03219-015a-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <controllerServices>
          <id>36bf7056-015a-1000-0000-000000000000</id>
          <parentGroupId>36bf253f-015a-1000-0000-000000000000</parentGroupId>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Server Hostname</key>
              <value>
                <name>Server Hostname</name>
              </value>
            </entry>
            <entry>
              <key>Server Port</key>
              <value>
                <name>Server Port</name>
              </value>
            </entry>
            <entry>
              <key>SSL Context Service</key>
              <value>
                <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                <name>SSL Context Service</name>
              </value>
            </entry>
            <entry>
              <key>Communications Timeout</key>
              <value>
                <name>Communications Timeout</name>
              </value>
            </entry>
          </descriptors>
          <name>DistributedMapCacheClientService</name>
          <properties>
            <entry>
              <key>Server Hostname</key>
              <value>localhost</value>
            </entry>
            <entry>
              <key>Server Port</key>
            </entry>
            <entry>
              <key>SSL Context Service</key>
            </entry>
            <entry>
              <key>Communications Timeout</key>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
        </controllerServices>
        <processors>
          <id>015a1000-3219-16c0-0000-000000000000</id>
          <parentGroupId>36bf253f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>794.0000109406199</x>
            <y>238.00000101055775</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>File Size</key>
                <value>
                  <name>File Size</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>
                  <name>Data Format</name>
                </value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>
                  <name>Unique FlowFiles</name>
                </value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
                <value>
                  <name>generate-ff-custom-text</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>File Size</key>
                <value>0B</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>false</value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>1d</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GenerateFlowFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
          <id>36bfa7fc-015a-1000-0000-000000000000</id>
          <parentGroupId>36bf253f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>276.3153185578074</x>
            <y>564.6436777683703</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Cache Entry Identifier</key>
                <value>
                  <name>Cache Entry Identifier</name>
                </value>
              </entry>
              <entry>
                <key>Distributed Cache Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                  <name>Distributed Cache Service</name>
                </value>
              </entry>
              <entry>
                <key>Cache update strategy</key>
                <value>
                  <name>Cache update strategy</name>
                </value>
              </entry>
              <entry>
                <key>Max cache entry size</key>
                <value>
                  <name>Max cache entry size</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Cache Entry Identifier</key>
                <value>some-cache-key-${hostname()}</value>
              </entry>
              <entry>
                <key>Distributed Cache Service</key>
                <value>36bf7056-015a-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>Cache update strategy</key>
                <value>replace</value>
              </entry>
              <entry>
                <key>Max cache entry size</key>
                <value>1 MB</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutDistributedMapCache</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.PutDistributedMapCache</type>
        </processors>
        <processors>
          <id>36c03219-015a-1000-0000-000000000000</id>
          <parentGroupId>36bf253f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>277.0000109406199</x>
            <y>297.00000101055775</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>File Size</key>
                <value>
                  <name>File Size</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>
                  <name>Data Format</name>
                </value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>
                  <name>Unique FlowFiles</name>
                </value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
                <value>
                  <name>generate-ff-custom-text</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>File Size</key>
                <value>0B</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>false</value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
                <value>cached-value-${now()}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>1d</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GenerateFlowFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
          <id>36c074e8-015a-1000-0000-000000000000</id>
          <parentGroupId>36bf253f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>785.0000109406199</x>
            <y>441.00000101055775</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Cache Entry Identifier</key>
                <value>
                  <name>Cache Entry Identifier</name>
                </value>
              </entry>
              <entry>
                <key>Distributed Cache Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                  <name>Distributed Cache Service</name>
                </value>
              </entry>
              <entry>
                <key>Put Cache Value In Attribute</key>
                <value>
                  <name>Put Cache Value In Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Max Length To Put In Attribute</key>
                <value>
                  <name>Max Length To Put In Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Cache Entry Identifier</key>
                <value>some-cache-key-${hostname()}</value>
              </entry>
              <entry>
                <key>Distributed Cache Service</key>
                <value>36bf7056-015a-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>Put Cache Value In Attribute</key>
                <value>cached-value</value>
              </entry>
              <entry>
                <key>Max Length To Put In Attribute</key>
                <value>256</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>FetchDistributedMapCache</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>not-found</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.FetchDistributedMapCache</type>
        </processors>
        <processors>
          <id>36c08c68-015a-1000-0000-000000000000</id>
          <parentGroupId>36bf253f-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>792.9956774445261</x>
            <y>672.4080820652453</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
      </contents>
      <name>DistributedCache Put/Fetch example</name>
    </processGroups>
  </snippet>
  <timestamp>02/13/2017 18:18:39 JST</timestamp>
</template>