SendEmailWithBulletin.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>Send Email With Bulletin</description>
    <groupId>e257fce7-016a-1000-5de6-dd5d27fb2be2</groupId>
    <name>SendEmailWithBulletin</name>
    <snippet>
        <processGroups>
            <id>33fefd2e-dbd7-3f21-0000-000000000000</id>
            <parentGroupId>dd9fb52d-c457-31d0-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments>Send Email With Bulletin</comments>
            <contents>
                <connections>
                    <id>2cfa20c0-8203-3b65-0000-000000000000</id>
                    <parentGroupId>33fefd2e-dbd7-3f21-0000-000000000000</parentGroupId>
                    <versionedComponentId>433eb8f1-71cc-3fae-9962-ac91c7efe088</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>33fefd2e-dbd7-3f21-0000-000000000000</groupId>
                        <id>73db5c53-92ee-34b9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>cad981c1-b1c0-340d-bc33-42da649b1eeb</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>33fefd2e-dbd7-3f21-0000-000000000000</groupId>
                        <id>5e5b863a-cadb-3ada-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d50e7438-6e44-3ab2-bd50-4779ce268bcd</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4bd38602-ab43-38a2-0000-000000000000</id>
                    <parentGroupId>33fefd2e-dbd7-3f21-0000-000000000000</parentGroupId>
                    <versionedComponentId>da6066e9-780e-3c0e-a214-e367dadb21c4</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>33fefd2e-dbd7-3f21-0000-000000000000</groupId>
                        <id>5e5b863a-cadb-3ada-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d50e7438-6e44-3ab2-bd50-4779ce268bcd</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>matched</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>33fefd2e-dbd7-3f21-0000-000000000000</groupId>
                        <id>6e7b1d83-1b66-3183-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8d66eb3d-3289-3fb8-befc-f0f9a7f9e31c</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>79b37b44-839b-36a6-0000-000000000000</id>
                    <parentGroupId>33fefd2e-dbd7-3f21-0000-000000000000</parentGroupId>
                    <versionedComponentId>2f9e7a03-9c9e-39b0-b291-9d24f7ab9112</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>33fefd2e-dbd7-3f21-0000-000000000000</groupId>
                        <id>1f170782-727e-3df6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a73e9b22-390c-3220-addb-d28176319422</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>33fefd2e-dbd7-3f21-0000-000000000000</groupId>
                        <id>200b262d-3eb4-35d6-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>3b7cb31f-7d98-3a67-bea2-2588f081e5b3</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a0c737c3-f19e-33ea-0000-000000000000</id>
                    <parentGroupId>33fefd2e-dbd7-3f21-0000-000000000000</parentGroupId>
                    <versionedComponentId>6d576b7c-3d11-34d9-9b19-a11bde830ff4</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>33fefd2e-dbd7-3f21-0000-000000000000</groupId>
                        <id>73db5c53-92ee-34b9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>cad981c1-b1c0-340d-bc33-42da649b1eeb</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>33fefd2e-dbd7-3f21-0000-000000000000</groupId>
                        <id>ba0810ec-7e1a-35ac-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>10cc60a2-880c-3887-acfa-c8d183e07e01</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c0f03b7f-d435-3eed-0000-000000000000</id>
                    <parentGroupId>33fefd2e-dbd7-3f21-0000-000000000000</parentGroupId>
                    <versionedComponentId>2121a034-ba09-3ef5-afeb-90a0709d5623</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>33fefd2e-dbd7-3f21-0000-000000000000</groupId>
                        <id>6e7b1d83-1b66-3183-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>8d66eb3d-3289-3fb8-befc-f0f9a7f9e31c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <selectedRelationships>No Retry</selectedRelationships>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>33fefd2e-dbd7-3f21-0000-000000000000</groupId>
                        <id>1f170782-727e-3df6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>a73e9b22-390c-3220-addb-d28176319422</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f9bc0daa-03b8-3e3a-0000-000000000000</id>
                    <parentGroupId>33fefd2e-dbd7-3f21-0000-000000000000</parentGroupId>
                    <versionedComponentId>1b356786-2f65-3727-973d-4cb95688b4e8</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>33fefd2e-dbd7-3f21-0000-000000000000</groupId>
                        <id>ba0810ec-7e1a-35ac-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>10cc60a2-880c-3887-acfa-c8d183e07e01</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>33fefd2e-dbd7-3f21-0000-000000000000</groupId>
                        <id>ee24bbd5-81fc-3bf3-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>e2ed76e1-a1e4-37b1-827b-1ad0c0a433e8</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>200b262d-3eb4-35d6-0000-000000000000</id>
                    <parentGroupId>33fefd2e-dbd7-3f21-0000-000000000000</parentGroupId>
                    <position>
                        <x>2101.711641087413</x>
                        <y>324.0174585663956</y>
                    </position>
                    <versionedComponentId>3b7cb31f-7d98-3a67-bea2-2588f081e5b3</versionedComponentId>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>CollectError</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <inputPorts>
                    <id>ee24bbd5-81fc-3bf3-0000-000000000000</id>
                    <parentGroupId>33fefd2e-dbd7-3f21-0000-000000000000</parentGroupId>
                    <position>
                        <x>2523.0953608514046</x>
                        <y>689.9463246492021</y>
                    </position>
                    <versionedComponentId>e2ed76e1-a1e4-37b1-827b-1ad0c0a433e8</versionedComponentId>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>SuccessNotify</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <processors>
                    <id>1f170782-727e-3df6-0000-000000000000</id>
                    <parentGroupId>33fefd2e-dbd7-3f21-0000-000000000000</parentGroupId>
                    <position>
                        <x>2051.5702468139834</x>
                        <y>433.5901143945987</y>
                    </position>
                    <versionedComponentId>a73e9b22-390c-3220-addb-d28176319422</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>${nifi.url}/nifi-api/flow/bulletin-board?message=${uuid}</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetBulletins</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>5e5b863a-cadb-3ada-0000-000000000000</id>
                    <parentGroupId>33fefd2e-dbd7-3f21-0000-000000000000</parentGroupId>
                    <position>
                        <x>2056.1230437997006</x>
                        <y>809.7888677287685</y>
                    </position>
                    <versionedComponentId>d50e7438-6e44-3ab2-bd50-4779ce268bcd</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>email.content.as.message</key>
<value>
    <name>email.content.as.message</name>
</value>
                            </entry>
                            <entry>
<key>email.message</key>
<value>
    <name>email.message</name>
</value>
                            </entry>
                            <entry>
<key>email.subject</key>
<value>
    <name>email.subject</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>email.content.as.message</key>
<value>false</value>
                            </entry>
                            <entry>
<key>email.message</key>
<value>{
    "message": ${error.message}
}</value>
                            </entry>
                            <entry>
<key>email.subject</key>
<value>NiFi: [ERROR] ${project.name}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>6e7b1d83-1b66-3183-0000-000000000000</id>
                    <parentGroupId>33fefd2e-dbd7-3f21-0000-000000000000</parentGroupId>
                    <position>
                        <x>2054.2097969821007</x>
                        <y>627.5578183520302</y>
                    </position>
                    <versionedComponentId>8d66eb3d-3289-3fb8-befc-f0f9a7f9e31c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>error.message</key>
<value>
    <name>error.message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>json</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>error.message</key>
<value>$</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ContentToAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>73db5c53-92ee-34b9-0000-000000000000</id>
                    <parentGroupId>33fefd2e-dbd7-3f21-0000-000000000000</parentGroupId>
                    <position>
                        <x>2267.7888793945312</x>
                        <y>1021.1367835998535</y>
                    </position>
                    <versionedComponentId>cad981c1-b1c0-340d-bc33-42da649b1eeb</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>SMTP Hostname</key>
<value>
    <name>SMTP Hostname</name>
</value>
                            </entry>
                            <entry>
<key>SMTP Port</key>
<value>
    <name>SMTP Port</name>
</value>
                            </entry>
                            <entry>
<key>SMTP Username</key>
<value>
    <name>SMTP Username</name>
</value>
                            </entry>
                            <entry>
<key>SMTP Password</key>
<value>
    <name>SMTP Password</name>
</value>
                            </entry>
                            <entry>
<key>SMTP Auth</key>
<value>
    <name>SMTP Auth</name>
</value>
                            </entry>
                            <entry>
<key>SMTP TLS</key>
<value>
    <name>SMTP TLS</name>
</value>
                            </entry>
                            <entry>
<key>SMTP Socket Factory</key>
<value>
    <name>SMTP Socket Factory</name>
</value>
                            </entry>
                            <entry>
<key>SMTP X-Mailer Header</key>
<value>
    <name>SMTP X-Mailer Header</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>Content Type</key>
<value>
    <name>Content Type</name>
</value>
                            </entry>
                            <entry>
<key>From</key>
<value>
    <name>From</name>
</value>
                            </entry>
                            <entry>
<key>To</key>
<value>
    <name>To</name>
</value>
                            </entry>
                            <entry>
<key>CC</key>
<value>
    <name>CC</name>
</value>
                            </entry>
                            <entry>
<key>BCC</key>
<value>
    <name>BCC</name>
</value>
                            </entry>
                            <entry>
<key>Subject</key>
<value>
    <name>Subject</name>
</value>
                            </entry>
                            <entry>
<key>Message</key>
<value>
    <name>Message</name>
</value>
                            </entry>
                            <entry>
<key>email-ff-content-as-message</key>
<value>
    <name>email-ff-content-as-message</name>
</value>
                            </entry>
                            <entry>
<key>Attach File</key>
<value>
    <name>Attach File</name>
</value>
                            </entry>
                            <entry>
<key>Include All Attributes In Message</key>
<value>
    <name>Include All Attributes In Message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>SMTP Hostname</key>
<value>smtp.exmail.qq.com</value>
                            </entry>
                            <entry>
<key>SMTP Port</key>
<value>465</value>
                            </entry>
                            <entry>
<key>SMTP Username</key>
<value>itservice@zskuaixiao.com</value>
                            </entry>
                            <entry>
<key>SMTP Password</key>
                            </entry>
                            <entry>
<key>SMTP Auth</key>
<value>true</value>
                            </entry>
                            <entry>
<key>SMTP TLS</key>
<value>false</value>
                            </entry>
                            <entry>
<key>SMTP Socket Factory</key>
<value>javax.net.ssl.SSLSocketFactory</value>
                            </entry>
                            <entry>
<key>SMTP X-Mailer Header</key>
<value>NiFi</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>Content Type</key>
<value>text/plain</value>
                            </entry>
                            <entry>
<key>From</key>
<value>itservice@zskuaixiao.com</value>
                            </entry>
                            <entry>
<key>To</key>
<value>${to.email}</value>
                            </entry>
                            <entry>
<key>CC</key>
                            </entry>
                            <entry>
<key>BCC</key>
                            </entry>
                            <entry>
<key>Subject</key>
<value>${email.subject}</value>
                            </entry>
                            <entry>
<key>Message</key>
<value>${email.message}</value>
                            </entry>
                            <entry>
<key>email-ff-content-as-message</key>
<value>${email.content.as.message}</value>
                            </entry>
                            <entry>
<key>Attach File</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Include All Attributes In Message</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>10 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutEmail</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutEmail</type>
                </processors>
                <processors>
                    <id>ba0810ec-7e1a-35ac-0000-000000000000</id>
                    <parentGroupId>33fefd2e-dbd7-3f21-0000-000000000000</parentGroupId>
                    <position>
                        <x>2469.5783660653256</x>
                        <y>809.993823783456</y>
                    </position>
                    <versionedComponentId>10cc60a2-880c-3887-acfa-c8d183e07e01</versionedComponentId>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>email.content.as.message</key>
<value>
    <name>email.content.as.message</name>
</value>
                            </entry>
                            <entry>
<key>email.subject</key>
<value>
    <name>email.subject</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>email.content.as.message</key>
<value>true</value>
                            </entry>
                            <entry>
<key>email.subject</key>
<value>NiFi: [SUCCESS] ${project.name}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>DISABLED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <name>SendEmailWithBulletin</name>
            <variables>
                <entry>
                    <key>email.to</key>
                    <value>ganwenhao@zskuaixiao.com</value>
                </entry>
                <entry>
                    <key>email.nifi.url</key>
                    <value>http://datacenter2:18881</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>05/23/2019 11:15:31 CST</timestamp>
</template>
